*{
    margin: 0 ;
    padding:0 ;
    box-sizing: border-box;
}
body{
    line-height: 1.6;
}
a{
    text-decoration: none;
    color: black
}
#about,#projects,#contact{
    background-color: #ebebeb;
    width: 100%;
    padding: 2rem 5rem;
}
.header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}
.header-content {
    display: flex;
    align-item: center;
    justify-content: space-between;
    padding: 2rem 5rem;
}
li{
    display: inline;
    list-style-type: none;
    padding: 12px;
}
.hero-container {
    background-color: #e3e3e3;
    height: 100vh;
    padding: 5rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.hero-text{
    height: 100vh;
    align-content: center;
    padding: 4rem;
}
.hero-text p{
    margin-bottom: 1rem;
}
.hero-text a{
    border-style: outside;
    border-radius: 12px;
    background-color: #6288c4;
    padding: 12px;
    margin-top: 10px;
}
.hero-img{
    padding: 6.5rem;
    padding-right: 2rem;
}
.hero-img img{
    height: 75vh;
    border-radius:50%;
    background-color: #6288c4;
}
.about-intro h1{
    padding-bottom: 1.5rem;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}
.about-intro p {
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 1rem;
}
.about-container {
    display:flex;
    width: 100%;
    background-color: white;
    background: rgba(250, 247, 247, 0.7);
    border-radius: 10px;
    padding: 2rem 5rem;
}
.about-me{
    width: 50%;
}
.about-skill{
    width: 50%;
}

footer{
    display: flex;
    flex-direction: column;
    background: #1c1c1c;
    color: white;
    height: 20vh;
    text-align: center;
}
footer .footer-icon{
    margin-right: 1rem;
}
.icon {
    width:1.5rem;   
}